body {
  font-family: arial;
}

#board {
  display: table;
  min-width: 620px;
}

#board-holder {
  padding-right: 20px;
}

.board-row {
  width: 100%;
  display: table-row;
}

.board-cell {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 36px;
  height: 36px;
  text-align: center;
}

.filled-cell {
  background-color: black;
}

.board-cell.selected-cell {
  border-width: 2px;
  border-color: blue;
  padding: 0px;  
}

.board-cell.selected-cell-other-red {
  border-width: 2px;
  border-color: red;
  padding: 0px;  
}

.board-cell.selected-cell-other-purple {
  border-width: 2px;
  border-color: purple;
  padding: 0px;  
}

.board-cell.selected-cell-other-green {
  border-width: 2px;
  border-color: green;
  padding: 0px;  
}

.board-cell.selected-cell-other-orange {
  border-width: 2px;
  border-color: orange;
  padding: 0px;  
}

.board-cell.highlighted-cell {
  background-color: lightgoldenrodyellow;
}

.num-holder {
  width: 10%;
  height: 10%;
  display: block;
  position: relative;
  bottom: 15px;
  font-size: 12px;
}

.has-letter .num-holder {
  bottom: 5px;
}

.clues-holder {
  width: 300px;
  min-width: 300px;
  vertical-align: top;
  text-align: center;
}

.clues {
  text-align: left;
}

.selected-clue {
  color: blue;
}

.clue-solved {
  text-decoration: line-through;
}

.dummy-input {
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
  padding: 0;
}