<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ js_url }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ css_url }}">
  </head>
  <body>
    <table id="game-holder">
      <tr>
        <td>
          <div>
            <label>To play with friends just send them the link to this page!</label>
          </div>
        </td>
      </tr>
      <tr>
	<td id="board-holder"></td>
	<td class="clues-holder">
	  <h2>Across Clues</h2>
	  <div id="across-clues" class="clues">
	  </div>
	</td>
	<td class="clues-holder">
	  <h2>Down Clues</h2>
	  <div id="down-clues" class="clues">
	  </div>
	</td>
      </tr>
    </table>
  </body>
</html>
